<div class="left_container">
	<div class="center">
		<div class="save">
			<h1 id="found">Found It?</h1>
			<a id="save" href="/save_location/<%=@trip_id%>"><button id="save_button">Save!</button></a>
		</div>


		<hr>
		<!-- form for new location -->

		<h2>Search Again</h2>
		<%=form_for Location.new, url: "/change_location/#{@location_id}" do |f|%>
			<%=f.submit "Go!", :class => 'submit'%>
			<%=f.text_field :address, placeholder: "Enter Address" %>
			<%=f.text_area :description, :cols => "19", :rows => "10", placeholder: "Enter Description" %>
		<%end%>
	</div>
</div>

<!-- map -->
<div>
  <div id="custom_style"></div>
</div>
